[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test_square = "pipenv run python src/test_square.py"
test_division = "pipenv run python src/test_division.py"

[packages]

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
